<!DOCTYPE html>
<html>
<head>
    <title>Sklep</title>
</head>
<body>
    <h1>Witam w sklepie</h1>
    <ul>
        <li><a href="{{ path('product_view') }}">View Products</a></li>
        <li><a href="{{ path('category_view') }}">View Categories</a></li>
        <li><a href="{{ path('order_view') }}">View Orders</a></li>
    </ul>
</body>
</html>